#calculator{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#display{
  border-color: #000000;
  border-style: solid;
  border-width: thin;
  height: 2em;
  width: 10em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
